@tailwind base;
@tailwind components;
@tailwind utilities;

@import './tokens.css';
@import './utilities.css';

:root {
  /* Brand Colors */
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-end-rgb));
  }
}
